*{
    font-family: fantasy;
    font-style: italic;
}
nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
}
.collapsibleNavBar {
    background-color: rgb(234, 0, 255);
    color: azure;
    cursor: pointer;
    padding: 1px;
    width: 100%;
    border: none;
    text-align: center;
    font-size: 16px;
    position: sticky;
}
      
.active, .collapsibleNavBar:hover {
    background-color: rgb(153, 58, 58);
}
.donutButton{
    display: flex;
    width: 20%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top:-10px;
}

body{
    background-image: url("baker-kitchen.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(52, 247, 247);
    color-scheme: aqua;
}

button{
    color: rgb(255, 42, 131);
}

/* all fonts */
h1{
    color: azure;
    text-shadow: 2px 0 0 #000, 0 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000;
}
h3{
    color: azure;
    text-shadow: 2px 0 0 #000, 0 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000;
}
p{
    color: rgb(255, 0, 234);
}
