*{
    font-family: impact;
    font-style: normal;
}
nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;

}
.tickDonut:hover{
    transform: scale(1.15);
    cursor: pointer;
}
.tickDonut:active{
    transform: scale(1);
}
header{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto;


}
body{
    background-image: url("baker-kitchen.jpg");
    background-position: center;
    background-size: cover;
    justify-content: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(74, 148, 148);
    
}
img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

button{
    color: rgb(255, 175, 4);
    background: #5f5a5a;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

    
}

/* all fonts */
h1{
    color: rgb(255, 175, 4);
    text-shadow: 2px 0 0 #000, 0 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
h3{
    color: rgb(253, 57, 253);
    text-shadow: 2px 0 0 #000, 0 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
p{
    color: rgb(255, 20, 255);
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, 0 1px 0 #000, 1px 0 0 #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

ul {
    padding: 0;
    list-style: none;
    background: #5f5a5a;
}
ul li {
    display: inline-block;
    position: relative;
    line-height: 21px;
    text-align: center;
    
}
ul li a {
    display: block;
    padding: 8px 25px;
    color: rgb(253, 57, 253);
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, 0 1px 0 #000, 1px 0 0 #000;
    text-decoration: none;
}
ul li a:hover {
    color: rgb(255, 175, 4);
    background: #4e3838;
}
ul li ul.dropdown {
    min-width: 100%; /* Set width of the dropdown */
    background: #04eeff;
    text-align: center;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
    opacity: .8;
}
ul li:hover ul.dropdown {
    display: block; /* Display the dropdown */
}
ul li ul.dropdown li {
    display: block;
}